.icon {
    width: 128px
}

.hour-cell {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    display: inline-grid;
    width: 500px!important;
    height: 350px;

}
.container-custom {
    background-color: cornflowerblue;
    
}
.zip-width {
    width: 200px!important;
}
.report-row {
    max-height: 500px;
    overflow-y: scroll;
}