.icon {
    width: 128px
}

.hour-cell {
    border: 1px solid black;
    display: inline-grid;
    width: 150px;
    height: 300px;
}
.container {
    background-color: cornflowerblue;
    overflow-x: scroll;
    
}
.zip-width {
    width: 200px!important;
}